<div class="row">
	<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div data-toggle="collapse" data-parent="#<%=parent%>" href="#<%=parent%><%=event.id%>" data-target="#<%=parent%><%=event.id%>">
        	<div class="name heading col-xs-3">
        		<p><%=event.name%></p>
        	</div>
        	<div class="date heading col-xs-3">
        		<p><%=event.date.strftime("%b %d, %Y | %l:%M %p")%></p>
        	</div>
        	<div class="location heading col-xs-3">
        		<p><%=event.location%></p>
        	</div>
        	<div class="creator heading col-xs-3">
        		<p><%=event.creator.name %></p>
        	</div>
        </div>
      </h4>
    </div>
    <div id="<%=parent%><%=event.id%>" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="row">
      		<div class="col-md-8 col-sm-7 col-xs-6 about">
      			<%=event.description%>
      		</div>
      		<div class="col-md-4 col-sm-5 col-xs-6">
      			<%=
              link_to "Attendance List", event_path(event), class: "btn btn-primary"
            %>
            <%= link_to "Attend this event", invitations_path(event.id), method: :post, class: "btn btn-success" unless event.attendees.include? current_user%>
      		</div>
      	</div>
      </div>
    </div>
	</div>
</div>